{
  "release": {
    "branches": "main",
    "verifyConditions": [
      "@semantic-release/github"
    ],
    "publish": [
      "@semantic-release/github"
    ],
    "success": [
      "@semantic-release/github"
    ],
    "fail": [
      "@semantic-release/github"
    ]
  }
}
