.github
.husky
.vscode
.vscode-test
node_modules/
out/**/*.map
out/test/**
src/
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc
.prettierrc
commitlint.config.js
CODE_OF_CONDUCT.md
CONTRIBUTING.md
resources/demo.gif
tsconfig.json
webpack.config.js
